@using AppMVC.Models
@model List<JeuViewModel>

<div class="d-flex justify-content-center">
    <div class="w-50" >
        @foreach (var jeu in Model)
        {
        <div class=" mt-3 mb-3 p-4 shadow-sm rounded bg-white" style="cursor: pointer" onclick="showDetailJeu(@jeu.Id)">
            <div class="fs-3 text-decoration-underline">@jeu.Nom</div>
            <p class="fs-5 mt-3">@jeu.Description</p>
        </div>
        }
    </div>

    <script>
        function showDetailJeu(idJeu) {
            let url = "@Url.Action("DetailJeu")";
            url = url + '/' + idJeu;
            window.location = url
        }
    </script>
</div>